<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <span class="navbar-text text-dark">Hello @User.Identity?.Name!</span>
        <li class="nav-item">
            @* <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a> *@
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Sign Out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            @* <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a> *@
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Sign In</a>
        </li>
    }
</ul>